.Categorias-container{
    background: rgb(143, 201, 224);
    padding: 5px;
    display: flex;
    flex-direction: column;
}

    .Categorias-title{
        margin-bottom: 5px;
    }

    .Categorias-option{
        display: flex;
        justify-content: space-between;
        background-color: antiquewhite;
        padding: 5px;
        margin-bottom: 5px;
        /* align-items: center; */
    }

        .Categorias-search{
            padding: 5px;
            background: rgb(179, 107, 13);
        }

        .Categorias-btns{
            display: block;
            justify-content: center;
            /* align-items: center; */
            padding: 5px;
            background: rgb(179, 107, 13);
        }

    .Categorias-content{
        padding: 10px;
        background: antiquewhite;
    }


/* CSS de los modales (labes e inputs)*/
.label{
    font-weight: bold;
}

.input{
    letter-spacing: 0.3px;
}

/* Modal ADD */
/* Modal EDIT */
/* Modal DELETE */

/* css tabla categorias (vista)*/
.Categorias-tabla {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

    .Categorias-tabla th, .Categorias-tabla td {
        border: 1px solid #ddd;
        padding: 8px;
    }

    .Categorias-tabla tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    .Categorias-tabla th {
        background-color: #4CAF50;
        color: white;
    }


