.NewServices-container{
    background: rgb(143, 201, 224);
    padding: 5px;
    display: flex;
    flex-direction: column;
}

    .NewServices-title{
        margin-bottom: 5px;
    }

    .NewServices-option{
        display: flex;
        justify-content: space-between;
        background-color: antiquewhite;
        padding: 5px;
        margin-bottom: 5px;
    }

        .NewServices-search{
            padding: 5px;
            background: rgb(179, 107, 13);
        }

        .NewServices-btns{
            display: block;
            justify-content: center;
            align-items: center;
            padding: 5px;
            background: rgb(179, 107, 13);
        }

    .NewServices-content{
        padding: 5px;
        background: antiquewhite;
    }