/* Paginacionnnnnn */

.pagination {
    background-color: #ffffff;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.page-link {
    transition: all 0.3s ease;
    border-radius: 50px;
}

.page-link:hover {
    background-color: #007bff;
    color: white;
}

.page-item{
    margin-left: 10px;
}

.label{
    font-weight: bold;
}

.input{
    letter-spacing: 0.3px;
}